openapi: 3.2.0
info:
  version: 1.3.0
  title: Ethena Webhooks API
  termsOfService: https://app.goethena.com/legal-and-privacy
  contact:
    name: Contact support
    email: support@goethena.com
  x-logo:
    url: ./ethena-logo.png
    altText: Ethena logo
  description: The Ethena API allows you to view and manage learners and training information.
servers:
- url: https://api.goethena.com
tags:
- name: Webhooks
  description: Webhooks are not enabled by default, please work with your sales representative to have them enabled if you need them.
paths:
  /v1/webhooks:
    get:
      tags:
      - Webhooks
      summary: Get webhooks
      description: Get all webhooks.
      operationId: getWebhooks
      security:
      - basic_auth: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        type: object
                        required:
                        - id
                        - type
                        - url
                        - secretKey
                        properties:
                          id:
                            allOf:
                            - description: The unique identifier of a webhook.
                              type: string
                              pattern: ^[a-zA-Z0-9]+$
                              example: wh123abc45
                          type:
                            allOf:
                            - description: The type of webhook. Currently, only one type, `LEARNER_TRAINING_CAMPAIGN_COMPLETED`, is supported.
                              type: string
                              enum:
                              - LEARNER_TRAINING_CAMPAIGN_COMPLETED
                              example: LEARNER_TRAINING_CAMPAIGN_COMPLETED
                          url:
                            allOf:
                            - description: The url of the callback that will be triggered when the webhook is fired.
                              type: string
                              format: uri
                              maxLength: 2048
                              example: https://{your-domain}.com/webhooks/ethena
                          secretKey:
                            allOf:
                            - description: The generated secret key that is used to sign requests to the webhook url.
                              type: string
                              pattern: ^[a-f0-9]+$
                              example: a1b2c3d4e5f6789012345678901234567890123456789012345678901234abcd
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                minProperties: 1
                description: JSON description of the issues based on the The Problem Details JSON Object [[RFC7807](https://tools.ietf.org/html/rfc7807)].
                required:
                - title
                properties:
                  title:
                    description: A short, human-readable summary of the problem type.
                    type: string
                  detail:
                    description: A human-readable explanation specific to this occurrence of the problem.
                    type: string
                  invalid-params:
                    description: An array of objects, each representing a parameter that was invalid.
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          description: The name of the invalid parameter.
                        reason:
                          type: string
                          description: The reason why the parameter is invalid.
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                minProperties: 1
                description: JSON description of the issues based on the The Problem Details JSON Object [[RFC7807](https://tools.ietf.org/html/rfc7807)].
                required:
                - title
                properties:
                  title:
                    description: A short, human-readable summary of the problem type.
                    type: string
                  detail:
                    description: A human-readable explanation specific to this occurrence of the problem.
                    type: string
                  invalid-params:
                    description: An array of objects, each representing a parameter that was invalid.
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          description: The name of the invalid parameter.
                        reason:
                          type: string
                          description: The reason why the parameter is invalid.
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                minProperties: 1
                description: JSON description of the issues based on the The Problem Details JSON Object [[RFC7807](https://tools.ietf.org/html/rfc7807)].
                required:
                - title
                properties:
                  title:
                    description: A short, human-readable summary of the problem type.
                    type: string
                  detail:
                    description: A human-readable explanation specific to this occurrence of the problem.
                    type: string
                  invalid-params:
                    description: An array of objects, each representing a parameter that was invalid.
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          description: The name of the invalid parameter.
                        reason:
                          type: string
                          description: The reason why the parameter is invalid.
    post:
      tags:
      - Webhooks
      summary: Create a new webhook
      description: Create a new webhook.
      operationId: createWebhook
      security:
      - basic_auth: []
      requestBody:
        description: Webhook to be created.
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - url
              - type
              properties:
                url:
                  allOf:
                  - description: The url of the callback that will be triggered when the webhook is fired.
                    type: string
                    format: uri
                    maxLength: 2048
                    example: https://{your-domain}.com/webhooks/ethena
                type:
                  allOf:
                  - description: The type of webhook. Currently, only one type, `LEARNER_TRAINING_CAMPAIGN_COMPLETED`, is supported.
                    type: string
                    enum:
                    - LEARNER_TRAINING_CAMPAIGN_COMPLETED
                    example: LEARNER_TRAINING_CAMPAIGN_COMPLETED
      responses:
        '200':
          description: Created
          content:
            application/json:
              schema:
                description: The unique identifier of a webhook.
                type: string
                pattern: ^[a-zA-Z0-9]+$
                example: wh123abc45
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                minProperties: 1
                description: JSON description of the issues based on the The Problem Details JSON Object [[RFC7807](https://tools.ietf.org/html/rfc7807)].
                required:
                - title
                properties:
                  title:
                    description: A short, human-readable summary of the problem type.
                    type: string
                  detail:
                    description: A human-readable explanation specific to this occurrence of the problem.
                    type: string
                  invalid-params:
                    description: An array of objects, each representing a parameter that was invalid.
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          description: The name of the invalid parameter.
                        reason:
                          type: string
                          description: The reason why the parameter is invalid.
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                minProperties: 1
                description: JSON description of the issues based on the The Problem Details JSON Object [[RFC7807](https://tools.ietf.org/html/rfc7807)].
                required:
                - title
                properties:
                  title:
                    description: A short, human-readable summary of the problem type.
                    type: string
                  detail:
                    description: A human-readable explanation specific to this occurrence of the problem.
                    type: string
                  invalid-params:
                    description: An array of objects, each representing a parameter that was invalid.
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          description: The name of the invalid parameter.
                        reason:
                          type: string
                          description: The reason why the parameter is invalid.
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                minProperties: 1
                description: JSON description of the issues based on the The Problem Details JSON Object [[RFC7807](https://tools.ietf.org/html/rfc7807)].
                required:
                - title
                properties:
                  title:
                    description: A short, human-readable summary of the problem type.
                    type: string
                  detail:
                    description: A human-readable explanation specific to this occurrence of the problem.
                    type: string
                  invalid-params:
                    description: An array of objects, each representing a parameter that was invalid.
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          description: The name of the invalid parameter.
                        reason:
                          type: string
                          description: The reason why the parameter is invalid.
  /v1/webhooks/{id}:
    get:
      tags:
      - Webhooks
      summary: Get a webhook by id
      description: Get a webhook.
      operationId: getWebhookById
      parameters:
      - name: id
        in: path
        required: true
        schema:
          description: The unique identifier of a webhook.
          type: string
          pattern: ^[a-zA-Z0-9]+$
          example: wh123abc45
      security:
      - basic_auth: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  required:
                  - id
                  - type
                  - url
                  - secretKey
                  properties:
                    id:
                      allOf:
                      - description: The unique identifier of a webhook.
                        type: string
                        pattern: ^[a-zA-Z0-9]+$
                        example: wh123abc45
                    type:
                      allOf:
                      - description: The type of webhook. Currently, only one type, `LEARNER_TRAINING_CAMPAIGN_COMPLETED`, is supported.
                        type: string
                        enum:
                        - LEARNER_TRAINING_CAMPAIGN_COMPLETED
                        example: LEARNER_TRAINING_CAMPAIGN_COMPLETED
                    url:
                      allOf:
                      - description: The url of the callback that will be triggered when the webhook is fired.
                        type: string
                        format: uri
                        maxLength: 2048
                        example: https://{your-domain}.com/webhooks/ethena
                    secretKey:
                      allOf:
                      - description: The generated secret key that is used to sign requests to the webhook url.
                        type: string
                        pattern: ^[a-f0-9]+$
                        example: a1b2c3d4e5f6789012345678901234567890123456789012345678901234abcd
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                minProperties: 1
                description: JSON description of the issues based on the The Problem Details JSON Object [[RFC7807](https://tools.ietf.org/html/rfc7807)].
                required:
                - title
                properties:
                  title:
                    description: A short, human-readable summary of the problem type.
                    type: string
                  detail:
                    description: A human-readable explanation specific to this occurrence of the problem.
                    type: string
                  invalid-params:
                    description: An array of objects, each representing a parameter that was invalid.
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          description: The name of the invalid parameter.
                        reason:
                          type: string
                          description: The reason why the parameter is invalid.
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                minProperties: 1
                description: JSON description of the issues based on the The Problem Details JSON Object [[RFC7807](https://tools.ietf.org/html/rfc7807)].
                required:
                - title
                properties:
                  title:
                    description: A short, human-readable summary of the problem type.
                    type: string
                  detail:
                    description: A human-readable explanation specific to this occurrence of the problem.
                    type: string
                  invalid-params:
                    description: An array of objects, each representing a parameter that was invalid.
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          description: The name of the invalid parameter.
                        reason:
                          type: string
                          description: The reason why the parameter is invalid.
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                minProperties: 1
                description: JSON description of the issues based on the The Problem Details JSON Object [[RFC7807](https://tools.ietf.org/html/rfc7807)].
                required:
                - title
                properties:
                  title:
                    description: A short, human-readable summary of the problem type.
                    type: string
                  detail:
                    description: A human-readable explanation specific to this occurrence of the problem.
                    type: string
                  invalid-params:
                    description: An array of objects, each representing a parameter that was invalid.
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          description: The name of the invalid parameter.
                        reason:
                          type: string
                          description: The reason why the parameter is invalid.
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                minProperties: 1
                description: JSON description of the issues based on the The Problem Details JSON Object [[RFC7807](https://tools.ietf.org/html/rfc7807)].
                required:
                - title
                properties:
                  title:
                    description: A short, human-readable summary of the problem type.
                    type: string
                  detail:
                    description: A human-readable explanation specific to this occurrence of the problem.
                    type: string
                  invalid-params:
                    description: An array of objects, each representing a parameter that was invalid.
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          description: The name of the invalid parameter.
                        reason:
                          type: string
                          description: The reason why the parameter is invalid.
    patch:
      tags:
      - Webhooks
      summary: Update webhook by id
      description: Update a webhook.
      operationId: patchWebhookById
      parameters:
      - name: id
        in: path
        required: true
        schema:
          description: The unique identifier of a webhook.
          type: string
          pattern: ^[a-zA-Z0-9]+$
          example: wh123abc45
      security:
      - basic_auth: []
      requestBody:
        description: Webhook properties to be updated
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  allOf:
                  - description: The url of the callback that will be triggered when the webhook is fired.
                    type: string
                    format: uri
                    maxLength: 2048
                    example: https://{your-domain}.com/webhooks/ethena
                type:
                  allOf:
                  - description: The type of webhook. Currently, only one type, `LEARNER_TRAINING_CAMPAIGN_COMPLETED`, is supported.
                    type: string
                    enum:
                    - LEARNER_TRAINING_CAMPAIGN_COMPLETED
                    example: LEARNER_TRAINING_CAMPAIGN_COMPLETED
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                minProperties: 1
                description: JSON description of the issues based on the The Problem Details JSON Object [[RFC7807](https://tools.ietf.org/html/rfc7807)].
                required:
                - title
                properties:
                  title:
                    description: A short, human-readable summary of the problem type.
                    type: string
                  detail:
                    description: A human-readable explanation specific to this occurrence of the problem.
                    type: string
                  invalid-params:
                    description: An array of objects, each representing a parameter that was invalid.
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          description: The name of the invalid parameter.
                        reason:
                          type: string
                          description: The reason why the parameter is invalid.
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                minProperties: 1
                description: JSON description of the issues based on the The Problem Details JSON Object [[RFC7807](https://tools.ietf.org/html/rfc7807)].
                required:
                - title
                properties:
                  title:
                    description: A short, human-readable summary of the problem type.
                    type: string
                  detail:
                    description: A human-readable explanation specific to this occurrence of the problem.
                    type: string
                  invalid-params:
                    description: An array of objects, each representing a parameter that was invalid.
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          description: The name of the invalid parameter.
                        reason:
                          type: string
                          description: The reason why the parameter is invalid.
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                minProperties: 1
                description: JSON description of the issues based on the The Problem Details JSON Object [[RFC7807](https://tools.ietf.org/html/rfc7807)].
                required:
                - title
                properties:
                  title:
                    description: A short, human-readable summary of the problem type.
                    type: string
                  detail:
                    description: A human-readable explanation specific to this occurrence of the problem.
                    type: string
                  invalid-params:
                    description: An array of objects, each representing a parameter that was invalid.
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          description: The name of the invalid parameter.
                        reason:
                          type: string
                          description: The reason why the parameter is invalid.
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                minProperties: 1
                description: JSON description of the issues based on the The Problem Details JSON Object [[RFC7807](https://tools.ietf.org/html/rfc7807)].
                required:
                - title
                properties:
                  title:
                    description: A short, human-readable summary of the problem type.
                    type: string
                  detail:
                    description: A human-readable explanation specific to this occurrence of the problem.
                    type: string
                  invalid-params:
                    description: An array of objects, each representing a parameter that was invalid.
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          description: The name of the invalid parameter.
                        reason:
                          type: string
                          description: The reason why the parameter is invalid.
    delete:
      tags:
      - Webhooks
      summary: Delete a webhook by id
      description: Delete a webhook. This is a **hard delete**. The deleted webhook will no longer be accessible via the API. This operation is irreversible. If a webhook is deleted by mistake, a new webhook will need to be created.
      operationId: deleteWebhookById
      parameters:
      - name: id
        in: path
        required: true
        schema:
          description: The unique identifier of a webhook.
          type: string
          pattern: ^[a-zA-Z0-9]+$
          example: wh123abc45
      security:
      - basic_auth: []
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                minProperties: 1
                description: JSON description of the issues based on the The Problem Details JSON Object [[RFC7807](https://tools.ietf.org/html/rfc7807)].
                required:
                - title
                properties:
                  title:
                    description: A short, human-readable summary of the problem type.
                    type: string
                  detail:
                    description: A human-readable explanation specific to this occurrence of the problem.
                    type: string
                  invalid-params:
                    description: An array of objects, each representing a parameter that was invalid.
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          description: The name of the invalid parameter.
                        reason:
                          type: string
                          description: The reason why the parameter is invalid.
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                minProperties: 1
                description: JSON description of the issues based on the The Problem Details JSON Object [[RFC7807](https://tools.ietf.org/html/rfc7807)].
                required:
                - title
                properties:
                  title:
                    description: A short, human-readable summary of the problem type.
                    type: string
                  detail:
                    description: A human-readable explanation specific to this occurrence of the problem.
                    type: string
                  invalid-params:
                    description: An array of objects, each representing a parameter that was invalid.
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          description: The name of the invalid parameter.
                        reason:
                          type: string
                          description: The reason why the parameter is invalid.
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                minProperties: 1
                description: JSON description of the issues based on the The Problem Details JSON Object [[RFC7807](https://tools.ietf.org/html/rfc7807)].
                required:
                - title
                properties:
                  title:
                    description: A short, human-readable summary of the problem type.
                    type: string
                  detail:
                    description: A human-readable explanation specific to this occurrence of the problem.
                    type: string
                  invalid-params:
                    description: An array of objects, each representing a parameter that was invalid.
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          description: The name of the invalid parameter.
                        reason:
                          type: string
                          description: The reason why the parameter is invalid.
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                minProperties: 1
                description: JSON description of the issues based on the The Problem Details JSON Object [[RFC7807](https://tools.ietf.org/html/rfc7807)].
                required:
                - title
                properties:
                  title:
                    description: A short, human-readable summary of the problem type.
                    type: string
                  detail:
                    description: A human-readable explanation specific to this occurrence of the problem.
                    type: string
                  invalid-params:
                    description: An array of objects, each representing a parameter that was invalid.
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          description: The name of the invalid parameter.
                        reason:
                          type: string
                          description: The reason why the parameter is invalid.
  /v1/webhooks/{id}/trigger:
    post:
      tags:
      - Webhooks
      summary: Trigger a webhook by id
      description: Trigger a webhook manually, without needing to perform the action that would normally trigger the webhook.
      operationId: triggerWebhookById
      parameters:
      - name: id
        in: path
        required: true
        schema:
          description: The unique identifier of a webhook.
          type: string
          pattern: ^[a-zA-Z0-9]+$
          example: wh123abc45
      security:
      - basic_auth: []
      requestBody:
        description: Payload to be sent when making the webhook request.
        content:
          application/json:
            schema:
              type: object
              properties:
                learnerId:
                  allOf:
                  - description: "The unique identifier of a learner. \n\nRequired when the webhook type is `LEARNER_TRAINING_CAMPAIGN_COMPLETED`."
                    type: string
                    pattern: ^[a-zA-Z0-9]+$
                    example: abc123def4
                trainingCampaignId:
                  allOf:
                  - description: "The unique identifier of a training campaign. \n\nRequired when the webhook type is `LEARNER_TRAINING_CAMPAIGN_COMPLETED`."
                    type: string
                    pattern: ^[a-zA-Z0-9]+$
                    example: tc456xyz78
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                minProperties: 1
                description: JSON description of the issues based on the The Problem Details JSON Object [[RFC7807](https://tools.ietf.org/html/rfc7807)].
                required:
                - title
                properties:
                  title:
                    description: A short, human-readable summary of the problem type.
                    type: string
                  detail:
                    description: A human-readable explanation specific to this occurrence of the problem.
                    type: string
                  invalid-params:
                    description: An array of objects, each representing a parameter that was invalid.
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          description: The name of the invalid parameter.
                        reason:
                          type: string
                          description: The reason why the parameter is invalid.
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                minProperties: 1
                description: JSON description of the issues based on the The Problem Details JSON Object [[RFC7807](https://tools.ietf.org/html/rfc7807)].
                required:
                - title
                properties:
                  title:
                    description: A short, human-readable summary of the problem type.
                    type: string
                  detail:
                    description: A human-readable explanation specific to this occurrence of the problem.
                    type: string
                  invalid-params:
                    description: An array of objects, each representing a parameter that was invalid.
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          description: The name of the invalid parameter.
                        reason:
                          type: string
                          description: The reason why the parameter is invalid.
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                minProperties: 1
                description: JSON description of the issues based on the The Problem Details JSON Object [[RFC7807](https://tools.ietf.org/html/rfc7807)].
                required:
                - title
                properties:
                  title:
                    description: A short, human-readable summary of the problem type.
                    type: string
                  detail:
                    description: A human-readable explanation specific to this occurrence of the problem.
                    type: string
                  invalid-params:
                    description: An array of objects, each representing a parameter that was invalid.
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          description: The name of the invalid parameter.
                        reason:
                          type: string
                          description: The reason why the parameter is invalid.
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                minProperties: 1
                description: JSON description of the issues based on the The Problem Details JSON Object [[RFC7807](https://tools.ietf.org/html/rfc7807)].
                required:
                - title
                properties:
                  title:
                    description: A short, human-readable summary of the problem type.
                    type: string
                  detail:
                    description: A human-readable explanation specific to this occurrence of the problem.
                    type: string
                  invalid-params:
                    description: An array of objects, each representing a parameter that was invalid.
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          description: The name of the invalid parameter.
                        reason:
                          type: string
                          description: The reason why the parameter is invalid.
webhooks:
  learnerTrainingCampaignCompleted:
    post:
      summary: Learner Training Campaign Completed Webhook
      description: 'This webhook is triggered when a learner completes a training campaign. This corresponds to the `LEARNER_TRAINING_CAMPAIGN_COMPLETED` webhook type.


        This can be triggered by actions a learner takes in the Ethena platform, but may also be triggered by actions taken by an Ethena administrator.


        - Most often, this webhook will be triggered when a learner completes all the training modules in a training campaign.

        - If an administrator manually marks a learner as having completed a training campaign, the webhook will be triggered.

        - If an administrator removes a training module from a learner''s training campaign, and the rest of the training is completed, the webhook will be triggered.

        - If a training campaign is archived in Ethena, the webhook will not be triggered.'
      operationId: learnerTrainingCampaignCompletedWebhook
      tags:
      - Webhooks
      parameters:
      - name: X-Signature
        in: header
        description: A signature of the payload, generated using the secret key provided when the webhook was created.
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              allOf:
              - type: object
                required:
                - learnerId
                - trainingCampaignId
                - statusTimestamp
                properties:
                  learnerId:
                    allOf:
                    - description: The unique identifier of a learner.
                      type: string
                      pattern: ^[a-zA-Z0-9]+$
                      example: abc123def4
                  trainingCampaignId:
                    allOf:
                    - description: The unique identifier of a training campaign.
                      type: string
                      pattern: ^[a-zA-Z0-9]+$
                      example: tc456xyz78
                  statusTimestamp:
                    description: The date and time at which the learner completed the training campaign.
                    type: string
                    format: date-time
                    example: '2025-08-20T17:32:53Z'
      security:
      - basic_auth: []
components:
  securitySchemes:
    basic_auth:
      description: Send requests with the Authorization header that contains the word `Basic` followed by a space and a base64-encoded string of the username and api key, `username:apiKey`.
      type: http
      scheme: basic
x-tagGroups:
- name: General
  tags:
  - Learners
  - Training Campaigns
  - Learner Training Campaigns
  - Learner Training Modules
  - Webhooks
